apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: "2025-11-27T08:20:09Z"
  generation: 1
  labels:
    app: demo-deploy
  name: demo-deploy
  namespace: default
  resourceVersion: "1664579"
  uid: 44b944c2-afcc-4c8f-8897-9459981a85ef
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: demo-deploy
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: demo-deploy
    spec:
      containers:
      - image: nginx
        imagePullPolicy: Always
        name: nginx
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status: {}
